WL01_CHECKER_ADMIN_URL=https://admin.orpheous.ru
WL01_CHECKER_ADMIN_TOKEN=
WL01_CHECKER_SUBSCRIPTION_URL=
WL01_CHECKER_INTERVAL_SECONDS=60
WL01_CHECKER_TIMEOUT_SECONDS=12
WL01_CHECKER_XRAY_STARTUP_TIMEOUT_SECONDS=5
WL01_CHECKER_XRAY_PATH=xray
WL01_CHECKER_USER_AGENT=Happ/1.0
WL01_CHECKER_PROBE_HOST=www.google.com
WL01_CHECKER_PROBE_PORT=443
WL01_CHECKER_RUN_ONCE=false
WL01_CHECKER_REPORT_RESULTS=true
